<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sopat Administration</title>

<link rel="icon" href="/assets/img/sopat-login.jpg">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
<link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/assets/css/sidebar.css">

</head>

<body>
	<div class="page-wrapper chiller-theme toggled">
		<a id="show-sidebar" class="btn btn-sm btn-dark" href="#"> <i
			class="fas fa-bars"></i>
		</a>
		<nav id="sidebar" class="sidebar-wrapper">
			<div class="sidebar-content">
				<div class="sidebar-brand">
					<a href="#">Sopat Administration</a>
					<div id="close-sidebar">
						<i class="fas fa-times"></i>
					</div>
				</div>
				<div class="sidebar-header">
					<div class="user-info">
						<span class="user-name">Jhon <strong>Smith</strong>
						</span>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul>
						<li class="sidebar"><a href="#"> <i
								class="fa fa-tachometer-alt"></i> <span>Dashboard</span>
						</a></li>
						<li class="sidebar"><a href="#"> <i
								class="fa fa-shopping-cart"></i> <span>E-commerce</span>
						</a></li>
						<li class="sidebar"><a href="#"> <i class="far fa-gem"></i>
								<span>Components</span>
						</a></li>
						<li class="sidebar"><a href="#"> <i
								class="fa fa-chart-line"></i> <span>Charts</span>
						</a></li>
					</ul>
				</div>
				<div class="sidebar-header">
					<div class="user-info">
						<button type="button" class="btn btn-default btn-sm">Log
							out</button>
					</div>
				</div>
			</div>
		</nav>
		<a class="editor_create">Create new record</a>

		<table id="example" class="display" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Office</th>
					<th>Extn.</th>
					<th>Start date</th>
					<th>Salary</th>
					<th>Edit / Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Position</td>
					<td>Office</td>
					<td>Extn.</td>
					<td>Start date</td>
					<td>Salary</td>
					<td>Edit / Delete</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dataTables.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/sidebar.js"></script>

	<script>
		var table = $('#example').DataTable();
	</script>
</body>
</html>